* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Montserrat', sans-serif;
  --main-roboto-font: 'Roboto', sans-serif;
  --background-color: #39bef8;
  --text-color: #252b42;
  --text-white-color: #fff;
  --text-info-color: #39bef8;
  --text-dark-color: #252B42;
}

.section {
  background: #39bef8;
  padding: 200px 310px;
}

.introduction {
  border-radius: 20px;
  border: 3px solid #fff;
  background: rgba(0, 0, 0, 0.71);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.title {
  flex-shrink: 0;
  padding-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tag {
  display: inline-flex;
  padding: 2px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 30.419px;
  background: #2dc071;
  margin-bottom: 10px;
}

.tag p {
  color: var(--text-white-color);
  text-align: center;
 font-family: var(--main-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.465px;
  letter-spacing: 0.377px;
  text-transform: uppercase;
}

.tag-href {
  text-decoration: none;
  color: var(--text-white-color);
}

.title-logo {
  display: flex;
}

.title-logo a {
  color: var(--text-info-color);
}

.title-logo p {
  flex-shrink: 0;
 font-family: var(--main-font);
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  line-height: 60px; /* 195.832% */
  letter-spacing: 0.377px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.title-logo img {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  align-self: start;
}

.describe {
  flex-shrink: 0;
  color: #fff;
 font-family: var(--main-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 72.105px;
  letter-spacing: 0.481px;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 40.668px;
  border-radius: 202.75px;
  background: #fff;
  box-shadow: 0px 19.77237px 28.89807px 0px rgba(0, 0, 0, 0.07);
  padding: 20px;
  margin-bottom: 30px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo img:first-child {
  margin-left: 15px;
}

.logo img:last-child {
  margin-right: 15px;
}

footer {
  display: flex;
  gap: 40px;
  padding: 70px 120px 100px;
}

footer p {
  color: var(--text-color);
  font-family: var(--main-roboto-font);
  font-size: 20px;
  font-style: normal;
  line-height:20px;
  letter-spacing: 0.194px;
}

footer a {
  color: var(--text-dark-color);
}
.footer-left {
  width: 40%;
}

.footer-right {
  width: 40%;
  margin-top: 20px;
}

.footer-image {
  width: 20%;
  flex-grow: 1;
  text-align: right;
}

.footer-image img {
  width: 40px;
}

.mb-4 {
  margin-bottom: 1rem;
}
